@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.transition-time-default {
  transition-duration: 200ms;
}

.transition-all {
  transition-property: background, border, opacity, transform, box-shadow;
}

.transition-ease-in-out {
  transition-timing-function: ease-in-out;
}

@keyframes skeletonShimmerAnimation {
  0% {
    opacity: 0.45;
  }

  to {
    opacity: 0.9;
  }
}
